<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Rooms - Adoption</title>
</head>
<body>
    <h1>Chat Rooms - Adoption</h1>
    <table>
        <thead>
            <tr>
                <th>Chat Room ID</th>
                <th>Adoption ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="chatRoom : ${listChatRooms}">
                <td th:text="${chatRoom.id}">Chat Room ID</td>
                <td th:text="${chatRoom.adoptionId}">Adoption ID</td>
                <td th:text="${chatRoom.adoptionId}">Adoption ID</td>
                <td>
                    <a th:href="@{'/chatroom/' + ${chatRoom.id}}">View Chat Room</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
